nav{
    background-color: #FACC15;
    margin: 0;
    width: 100%;
}

.title{
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

a{
    font-family: 'Poppins';
}

a:hover{
    color: #000;
}

.contact{
    background-color: #000;
    color: #FACC15;
    border: #000;
}

.contact:hover{
    background-color: #FACC15;
    color: #000;
    border: #000;
}